@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Arima:wght@100..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&display=swap');

html {
    scroll-behavior: smooth;
}

.card {
    margin: 10px 10px 0 10px;
}

.card-image {
    height: 15vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-container {
    margin: 10px 10px 0 10px;
}

.card-nav {
    font-size: 10px;
    font-weight: 700;
    font-family: 'Arima', sans-serif;
    text-align: justify;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

.card-nav a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.card-title2 {
    font-family: 'Arima', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #daadc2;
    border-radius: 5px;
    border-color: 3px solid black;
    padding: 7px;
    margin-top: 20px;
    border: 1px solid black;
}

.card-p,
.card-list {
    text-align: justify;
    font-family: 'Arima', sans-serif;
    hyphens: auto;
}

.card-list1 {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    text-align: justify;
    font-family: 'Arima', sans-serif;
    hyphens: auto;
}

.card-list1 li {
    overflow: hidden;
    /* Garante que o conteúdo seja corretamente exibido ao lado da imagem */
    list-style: none;
    /* Remove o marcador padrão da lista */
    margin-bottom: 15px;
    /* Adiciona um espaçamento entre os itens da lista */
    text-align: justify;
    /* Faz o texto ser justificado */
}

.card-title3 {
    font-family: 'Arima', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-mastite {
    width: 35%;
    float: right;
    margin-left: 15px;
}

.mastite-container {
    max-width: 600px;
}

.img-mito {
    width: 13%;
    height: auto;
    float: left;
    margin-right: 10px;
}

.referencia {
    cursor: pointer;
    margin-top: 7px;
    width: 200px;
    background-color: #c17f96;
}

.referencia:active {
color: black;
}

.referencia:visited {
    color: black;
}


.referencia:hover {
    transform: scale(1.05);
    color: black;
}

.referencia-container {
    display: flex;
    justify-content: center;
}

.referencia-title {
    font-size: 16px;
    text-transform: uppercase;
}

.extras {
    text-align: center;
    margin-top: 20px;
}

.yy a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.yy a:visited {
    color: black;
    /* Mantém a cor preta mesmo após o link ser visitado */
}

.yy a:hover {
    color: black;
    /* Mantém a cor preta ao passar o mouse */

}

.yy a:active {
    color: black;
    /* Mantém a cor preta ao clicar */
}

.card-title3:hover {
    transform: scale(1.05);
}


.buttons-container {
    display: inline-block;
    /* Mantém os botões em linha */
    text-align: center;
    /* Centraliza o contêiner */
    margin: 0 auto;
    /* Garante que o contêiner esteja centralizado */
    width: 90%;
}

.button-content {
    display: inline-block;
    /* Garante que cada botão esteja em linha */
    margin: 0 10px;
    /* Espaço entre os botões */
    width: 90%;
    /* Largura fixa para consistência */
}

.xx {
    background-color: #c17f96;
    color: black;
    border: 1px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    width: 70%;
    font-family: 'Arima', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.xx:hover {
    transform: scale(1.05);
}

.xx:visited {
    color: black;
}

.xx:active {
    color: black;
}

.xx1 {
    margin-top: 20px;
}

.yy {
    list-style-type: none;
    padding: 0;
    margin: 10px auto;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    text-align: justify;
    font-family: 'Arima', sans-serif;
    hyphens: auto;
}

.yy li {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    display: block;
}